#root {
    height: 100vh;
    width: 100vw;
}

.app {
    width: 100%;
    height: 100%;
}

.background {
    position: fixed;
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: #6eac70;
}

.nav-bar-container {
    width: 100%;
    height: 60px;
    background-color: rgb(183, 201, 184);
    padding: 10px;
    display: flex;
    align-items: center;
}

.nav-title {
    width: 30%
}

.nav-bar {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.nav-link {
    font-size: 1.5rem;
    text-decoration: none;
    color: black
}

.nav-link:hover {
    color: white
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-title {
    margin: 25px 0;
    /* font-family:; */
}

.form-label {
    font-size: 20px;
    /* margin-bottom: 10px; */
    /* max-width: 300px; */
    width: 100%;
}

.form-input {
    padding: 10px;
    font-size: 16px;
    border-radius: 7px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    flex: 1;
    width: 100%;
}

.form-button {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 20px;
    max-width: 250px;
    width: 75%;
    box-shadow: 0px 0px 10px 0px #ccc;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-bottom: 20px;
}

.form-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: center;
    width: 100%;
}

.form-footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
}

.form-footer-container>p {
    margin-top: 20px;
    color: #666666
}

.toggle {
    text-decoration: underline;
    margin: 5px;
}

.toggle:hover {
    color: black;
    cursor: pointer;
}

.high-rule-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin-bottom: 20px;
}

.high-rule-container hr {
    width: 100%;
}

.high-rule-container p {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 7px;
    border: 2px solid #ccc;
    background-color: white;
    text-align: center;
    vertical-align: middle;
    line-height: 25px;
    color: #666666
}

.auth-form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    min-height: 500px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px black;
}

.login-input-container {
    display: grid;
    place-items: center;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 20px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    width: 90%;
    max-width: 450px;
    min-height: 500px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px black;
}

.registration-input-container {
    display: grid;
    place-items: center;
    gap: 15px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "first"
        "last"
        "email"
        "username"
        "password"
        "confirm";
    padding: 0 20px;
}

.registration-input-container>label[for="firstName"] {
    grid-area: first;
}

.registration-input-container>label[for="lastName"] {
    grid-area: last;
}

.registration-input-container>label[for="email"] {
    grid-area: email;
}

.registration-input-container>label[for="username"] {
    grid-area: username;
}

.registration-input-container>label[for="password"] {
    grid-area: password;
}

.registration-input-container>label[for="confirmPassword"] {
    grid-area: confirm;
}

@media screen and (min-width: 500px) {
    .registration-input-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "first last"
            "email email"
            "username username"
            "password password"
            "confirm confirm";
    }
}

.sign-in-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}

.spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border-left-color: #09f;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.landing-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 30px
}

.left {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 50%;
    /* background-color: #92ab93; */
    border:1px solid black;
}

.right {
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    width: 50%;
    /* background-color: #1a1f1a; */
    border:1px solid black;
}